body {
    background: url('image.png') no-repeat  center/cover;
}

/* Container Geral */
.container {
    
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo para os containers dentro do dashboard */
.dashboard-container {
    background-color: #4f4d4d;
    border: 1px solid #272626;
    border-radius: 8px;
    margin: 20px 0;
    padding: 20px;
}

/* Títulos */
h2, h3 {
    color: #3333d1;
}

/* Campos de entrada */
input[type="text"], input[type="email"], input[type="password"], input[type="number"], select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #555555;
}

/* Botões */
button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #3333d1;
    color: rgb(143, 143, 143);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #424141;
}

/* Tabela de Clientes */
#clientTable {
    margin-top: 20px;
    width: 100%;
}

#clientTable table {
    width: 100%;
    border-collapse: collapse;
}

#clientTable th, #clientTable td {
    padding: 8px;
    width: 10rem;;
    text-align: left;
    border: 1px solid #0e0e0e;
}

#clientTable th {
    background-color: #3333d1;
    color: rgb(124, 121, 121);
}

/* Lista de Clientes com 10 Pontos */
ul#clients {
    list-style-type: none;
    padding: 0;
}

ul#clients li {
    padding: 10px;
    background-color: #3333d1;
    margin-bottom: 10px;
    border-radius: 4px;
}
